#contact {
  margin-top: 3rem;

  padding: 2rem 0;
}

input,
textarea {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  background: $gray-400;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
@media screen and (min-width: 992px) {
  #contact {
    margin-top: 5rem;
  }
}
