// load custom font from google fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Pacifico&display=swap");

@import "~bootstrap/scss/functions";
// redefine variables not dependent on anything else

// global variables

// theme color variables

// font family
$font-family-base: "Nunito", sans-serif;

$headings-font-family: "Pacifico", cursive;

// links

// import variables and mixins files (so you can use them below)
// any redefined vars above will be incorporated into the files (e.g. in maps)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//Get red color
$red-colors: (
  "red-100": $red-100,
  "red-200": $red-200,
  "red-300": $red-300,
  "red-400": $red-400,
  "red-500": $red-500,
  "red-600": $red-600,
  "red-700": $red-700,
  "red-800": $red-800,
  "red-900": $red-900,
);
//create red shapes
@each $color, $value in $red-colors {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}

// utility api - import utility file first
// import bootstrap whole sass lib (incorporates all above redefined vars & values)
@import "~bootstrap/scss/bootstrap";

body {
  background: #fafaf9;
}

//import custom components
@import "./footer";
@import "./navigation";
@import "./hero";
@import "./contact";
@import "./corona";
@import "./gallery";
@import "./menu";
@import "./mittag";
@import "./title";
